@page "/skillPost/{Id:int}"
@using AppForSkills.Client.Models
@inject HttpClient Http


<AuthorizeView>
    <Authorized>
        @if (skillPost == null)
        {
            <p>Wczytywanie...</p>
        }
        else
        {
            <h3>Szczegóły posta</h3>
            <h4>@skillPost.Username</h4>
            <h5>@skillPost.PublishingDate</h5>
            <h5>@skillPost.Title</h5>
            <h5>@skillPost.Description</h5>
            <h5>@skillPost.Views</h5>
            <h5>@skillPost.Rating</h5>
            @if (skillPost.AddressOfPhotoOrVideo.EndsWith(".png") || skillPost.AddressOfPhotoOrVideo.EndsWith(".jpg"))
            {
                <img src=@skillPost.AddressOfPhotoOrVideo style="display: block; max-width: 550px; height: auto; " />
            }
            else if(skillPost.AddressOfPhotoOrVideo.EndsWith(".mp4"))
            {
                <video preload="auto" autoplay controls="controls" width="800" height="400">
                    <source src=@skillPost.AddressOfPhotoOrVideo type="video/mp4" />
                </video>
            }
        }

    </Authorized>
    <NotAuthorized>
        <p>Nie można wyświetlić strony niezalogowanym użytkownikom</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public int Id { get; set; }
    private SkillPostVm skillPost;
    protected override async Task OnInitializedAsync()
    {
        skillPost = await Http.GetFromJsonAsync<SkillPostVm>($"api/posts/{Id}");
    }
}

