@using AppForSkills.Client.Models
@inject IDialogService DialogService

<center>
    @foreach (var skillPost in SkillPosts)
    {
        <MudCard Style="width: 500px; background: linear-gradient(90deg, rgba(9,122,227,0.9) 46%, rgba(4,170,242,1) 100%); color: white ">
            <MudCardHeader>
                <CardHeaderAvatar>
                    @if (skillPost.Avatar == "")
                    {
                        <MudAvatar Color="Color.Error">@skillPost.Username.Substring(0, 1).ToUpper()</MudAvatar>
                    }
                    else
                    {
                        <MudAvatar Image="@skillPost.Avatar" />
                    }
                </CardHeaderAvatar>
                <CardHeaderContent>
                    <MudText Align="Align.Left" Typo="Typo.body1" Style="font-weight: bold">@skillPost.Username</MudText>
                    <MudText Align="Align.Left" Typo="Typo.body2" Style="font-weight: bold">@skillPost.Title</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    @if (skillPost.Username == User)
                    {
                        <MudTooltip Text="Edytuj">
                            <a href="/skillPosts/@skillPost.Id/EditSkillPost"><MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Edit" Size="Size.Small" Style="margin-right: 12px" /></a>
                        </MudTooltip>
                        <MudTooltip Text="Usuń">
                            <MudFab OnClick="() => Delete(skillPost.Id)" Color="Color.Error" StartIcon="@Icons.Material.Filled.Delete" Size="Size.Small" />
                        </MudTooltip>
                    }
                </CardHeaderActions>
            </MudCardHeader>
            <a href="skillPosts/@skillPost.Id" style="text-decoration: none;">
                <img src=@skillPost.AddressOfPhotoOrVideo style="display: block; max-width: 500px; height: auto; " />
                <MudCardActions>
                    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Filled.Star" Style="margin-right: 12px" Color="Color.Success">@skillPost.Rating</MudButton>
                    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Filled.Comment" Color="Color.Warning">@skillPost.Comment</MudButton>
                </MudCardActions>
            </a>
        </MudCard>
        <br /><br />

    }
</center>
@code {
    [Parameter]
    public List<SkillPostDto> SkillPosts { get; set; } = new List<SkillPostDto>();
    [Parameter]
    public string User { get; set; }

    private void Delete(int idSkill)
    {
        var parameters = new DialogParameters();
        parameters.Add("ContentText", "Czy naprawdę chcesz usunąć trwale ten SkillPost? Po zatwierdzeniu, nie będziesz mógł(a) go przywrócić.");
        parameters.Add("ButtonText", "Usuń");
        parameters.Add("Color", Color.Error);
        parameters.Add("Id", idSkill);

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };

        DialogService.Show<Dialog>("Usuń", parameters, options);
    }
}
