@using AppForSkills.Client.Models
@inject IModalService modal

@foreach (var post in Posts)
{
    <div class="posts">
        @if (post.ParentPost.StatusId == 1)
        {
            <div class="autorPost">@post.ParentPost.Username </div>
            <div class="datePost">@post.ParentPost.Date</div>
            <div>@post.ParentPost.PostText</div>
        }
        else
        {
            <div>[Usunięto]</div>
        }
    </div>
    <br />
    <div class="answerToPost">
        <a href="/discussions/@post.DiscussionId" class="linkLike">
            <div class="datePost">@post.Date</div><br />
            <div>@post.PostText</div>
        </a>
        <div>&#10084;&#65039; <button @onclick="@(()=>modal.Show<Likes>("Polubienia", GetParameters(post)))" class="linkLike">@post.Likes.Count</button></div>
    </div>
    <br />
    <br />
}

@code {
    [Parameter]
    public List<UserDiscussionPostDto> Posts { get; set; } = new List<UserDiscussionPostDto>();
    private ModalParameters modalParameters { get; set; } = new ModalParameters();

    private ModalParameters GetParameters(UserDiscussionPostDto post)
    {
        modalParameters.Add("likes", post.Likes);
        return modalParameters;
    }
}